@use '../abstract/minxins';
@use '../abstract/variables';

.experience {
  background-color: #034941;
  display: grid;
  // height: 100vh;
  height: auto;
  grid-template-rows: 130px 1fr;

  &-title {
    color: #FFF;
    display: grid;
    place-content: center;
    font-size: 1.8rem;
    font-family: variables.$font-quantico;

    @include minxins.responsive(variables.$medium) {
      font-size: 2.3rem;
    }
  }

  &-timeline {
    width: 80%;
    place-self: center;

  }
}

.vertical {
  &-timeline {
    &-element {
      &-title {
        font-size: 1.4rem;
        font-family: variables.$font-oswald;

        @include minxins.responsive(variables.$medium) {
          font-size: 1.8rem;
        }
      }

      &-subtitle {
        font-family: variables.$font-poppins;
        font-size: .8rem;

        @include minxins.responsive(variables.$medium) {
          font-size: 1rem;
        }
      }

      &-text {
        font-size: .8rem !important;
        font-family: variables.$font-roboto-mono;

        @include minxins.responsive(variables.$medium) {
          font-size: .9rem !important;
        }
      }

      &-date {
        font-family: variables.$font-quantico;
        font-size: .8rem !important;

        @include minxins.responsive(variables.$medium) {
          font-size: 1rem;
        }
      }
    }
  }
}

.devkoore {
  height: 60px;
  width: 60px;

  &-svg {
    width: 58px !important;
    height: 58px !important;
    margin-left: -29px !important;
    margin-top: -29px !important;

    @include minxins.tablet() {
      width: 43px !important;
      height: 43px !important;
      margin-left: -32px !important;
      margin-top: -30px !important;
    }
  }
}

.virtua {
  height: 60px;
  width: 60px;

  &-svg {
    width: 35px !important;
    height: 35px !important;
    margin-left: -17px !important;
    margin-top: -17px !important;

    @include minxins.tablet() {
      width: 27px !important;
      height: 27px !important;
      margin-left: -23px !important;
      margin-top: -23px !important;
    }
  }
}

.update {
  height: 60px;
  width: 60px;

  &-svg {
    width: 80px !important;
    height: 80px !important;
    margin-left: -40px !important;
    margin-top: -40px !important;

    @include minxins.tablet() {
      width: 59px !important;
      height: 59px !important;
      margin-left: -39px !important;
      margin-top: -39px !important;
    }
  }
}