$font-dm-sans: 'DM Sans', sans-serif;
$font-inter: 'Inter', sans-serif;
$font-amatic: 'Amatic SC', sans-serif;
$font-oswald: 'Oswald', sans-serif;
$font-roboto-mono: 'Roboto Mono', sans-serif;
$font-bebas: 'Bebas Neue', sans-serif;
$font-orbitron: 'Orbitron', sans-serif;
$font-quantico: 'Quantico', sans-serif;
$font-poppins: 'Poppins', sans-serif;
$font-combo: 'Combo', sans-serif;
$font-comforter: 'Comforter', sans-serif;